@font-face {
    font-family: 'Bluu Next';
    src: url('../../fonts/bluu-next-bold.woff2') format('woff2'),
        url('../../fonts/bluu-next-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bluu Next';
    src: url('../../fonts/bluu-next-bold-italic.woff2') format('woff2'),
        url('../../fonts/bluu-next-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bluu Next';
    src: url('../../fonts/bluu-next-titling.woff2') format('woff2'),
        url('../../fonts/bluu-next-titling.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}